#equal{
    font-weight: 700 !important;
    font-size: xx-large !important;
}

.btn-border{
    font-weight: 700 !important;
    font-size: x-large !important;
}

button{
    font-weight: 700 !important;
    font-size: x-large !important;
}
#result{
    font-weight: 700;
    font-size: xx-large;
}